.titulodeimagenes{
    text-align: center;
}

.galeriadeimagenes{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
justify-items: center;
}

.galeriadeimagenes img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.galeriadeimagenes img:hover{
    transform: scale(1.1);
}

/* Esta configuracion se hace para nuestros celulares*/
